<div class="start-pages signup-login">
<br>
  <h4 class="blue-bold">Create an Account</h4><br>
   
  <%= form_for @user do |f| %>
      <%= f.text_field :name, placeholder: "Name", :size => 30 %>
      <%= f.text_field :username, placeholder: "Username", :size => 30 %>
      <%= f.email_field :email, placeholder: "Email", :size => 30 %>
      <%= f.password_field :password, placeholder: "Password", :size => 30 %><br><br>
      <%= f.submit "Create Account", :class => 'btn btn-block btn-success' %>
    <% end %>
</div>

