<h1> All Restaurants </h2>

# <!--<% @restaurants.each do |restaurant| %>
#     <%= link_to restaurant.name, restaurant_path(restaurant) %> <br>
#   <% end %> -->

<table>
  <thead>
    <tr>
      <th>Restaurant</th>
      <th>Total Reviews</th>
      <th>Average Rating</th>
      <th>Cuisine</th>
      <th>City</th>
    </tr>
  </thead>
  <tbody>
    <% @restaurants.each do |restaurant| %>
      <td style="padding:0 15px 0 15px;"><%= link_to restaurant.name, restaurant_path(restaurant) %></td>
      <td style="padding:0 15px 0 15px;"><%= restaurant.reviews.count %></td>
      <td style="padding:0 15px 0 15px;"><%= restaurant.average_rating %></td>
      <td style="padding:0 15px 0 15px;"><%= restaurant.cuisine.name %></td>
      <td style="padding:0 15px 0 15px;"><%= restaurant.city.name %></td>
    </tr>
    <% end %>
  </tbody>
</table>