Restaurant name: <h1> <%= @restaurant.name %>  </h1>
 Address: <h2> <%= @restaurant.address %>  </h1>
 Price range: <h2> <%= @restaurant.price_range %>  </h1>

<br>

<% @restaurant.reviews.each do |review| %>
  <%= review.user.name %>: <%= review.comment %>
  <p>Rating: <%= review.rating %>/5</p>
<% end %>

<br>
