Restaurant name: <h1> <%= @restaurant.name %>  </h1>
<h3>Cuisine: <%= @restaurant.cuisine.name %>
<br>
 Address: <h2> <%= @restaurant.address %>  </h2>
 Price range: <h2> <%= @restaurant.price_range %>  </h1>
 <h3>City: <%= @restaurant.city.name %>

<br>

<h4>Total Reviews: <%= @restaurant.reviews.count %><br></h4>
<h4>Average Rating: <%= @restaurant.average_rating %><br></h4>
<br>

<% @restaurant.reviews.each do |review| %>
  <b><%= review.user.name %></b>
  <p>Rating: <%= review.rating %>/5</p>
  <%= review.content %>
<% end %>

<br>
