<h1><b><%= @restaurant.name %></b><br>
<% if !Review.exists?(user_id: current_user.id, restaurant_id: @restaurant.id) %>
  <%= link_to "Write a Review", new_user_review_path(:user_id => current_user.id, :restaurant_id => @restaurant.id), class: "btn btn-outline-info" %><br><br><br>
<% end %></h1>
<br>
<h3><u>Cuisine:</u> <%= @restaurant.cuisine.name %></h3><br>
<h3><u>Address:</u>  <h2> <%= @restaurant.address %> </h3><br>
<h3><u>Price range:</u> <h2> <%= @restaurant.price_range %></h3><br>
<h3><u>City:</u>  <%= @restaurant.city.name %></h3><br>
<br>
<h3>Total Reviews: <%= @restaurant.reviews.count %></h3><br>
<h3>Average Rating: <%= @restaurant.average_rating %></h3><br>

<br><br>
<% @restaurant.reviews.each do |review| %>
  <h3><b><%= review.user.name %></b></h3>
  <h4><p>Rating: <%= review.rating %>/5</p></h4>
  <h4><%= review.content %></h4>
<% end %>

<br>
