<h1>Edit Your Review of <%= @restaurant.name %></h1>

<%= form_for user_reviews_path :method => 'patch' do |f| %>
    <%= f.label :rating %> <br>
    <%= f.collection_radio_buttons :rating , [[1, '1-star'] ,[2, '2-stars'],[3, '3-stars'],[4, '4-stars'],[5, '5-stars']], :first, :last %>
    <br><br>
    <%= f.label :content, "Comments" %> <br>
    <%= f.text_area :content %>
    <br><br><br>
    <%= f.submit "Update Review" %>
  <% end %>