<h1>Add a Restaurant Review</h1>

<%= form_for :review, url: user_reviews_path do |f| %>
    <%= f.label :restaurant, "Choose Restaurant:" %> <br>
    <%= f.collection_select :restaurant_id, Restaurant.order('name ASC'), :id, :name %>
    <br><br>
    <%= render partial: 'form', locals: {f: f} %>
    <br><br><br>
    <%= f.submit "Create Review" %>
  <% end %>
