<% if @user == current_user %>

<h1>My Review of <%= @review.restaurant.name %></h1>
<% else %>
<h1><%= @user.name %>'s Review of <%= @review.restaurant.name %></h1><br>
<% end %>
<br>
<p class="lead"><%= @review.content %></p>
<p class="lead"><%= @review.rating %>/5</p>

<br>

<% if @user == current_user %>
  <%= link_to "Edit Review", edit_user_review_path, class: "btn btn-outline-warning" %>
  <%= button_to "Delete Review", user_review_path, :method => 'delete', class: "btn btn-outline-danger" %>
<% end %>