<% if @user == current_user %>

<h1>My Review of <%= @review.restaurant.name %></h1>
<% else %>
<h1><%= @user.name %>'s Review of <%= @review.restaurant.name %></h1>
<% end %>

<p><%= @review.content %></p>
<p><%= @review.rating %>/5</p>

<br>

<% if @user == current_user %>
<button><%= link_to "Edit Review", edit_user_review_url %></button>
<% end %>

<br>

<% if @user == current_user %>
  <button><%= link_to "Delete Review", user_review_path, :method => 'delete' %></button>
<% end %>